/*
    paragraph masking
    -------------------------
    targets all children excluding invisible or non-text elements and
    sets their background color to the foreground color
*/
[data-boundary-active] [data-block-active],
[data-boundary-active] [data-block-active] *:not(.target) {
    background-color: currentColor;
}

/* 
    paragraph reveal
    -------------------------
    what happens when the reveal class is injected
*/
[data-boundary-active][data-boundary-mouse-down="true"] [data-block-active][data-block-reveal="true"],
[data-boundary-active][data-boundary-mouse-down="true"] [data-block-active][data-block-reveal="true"] *:not(.target) {
    background-color: initial;
}

/*
    paragraph reveal trigger
    -------------------------
    an inserted zone for triggering the reveal of a paragraph
*/
[data-boundary-active] [data-block-active] {
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

[data-boundary-active] .target {
    --width: 20px;
    content: "";
    position: absolute;
    top: 0;
    min-height: var(--width);
    left: calc(-10px - var(--width));
    width: var(--width);
    background-color: orange;
}

[data-boundary-active][data-boundary-mouse-down="true"] .target[data-target-mouse-over="true"] {
    background-color: greenyellow;
}

[data-boundary-candidate="true"] {
    cursor: pointer;
    outline: 4px solid pink;
}
