
.boundary {
    /* outline: 1px solid gray; */
}

/*
    paragraph masking
    -------------------------
    targets all children excluding invisible or non-text elements and
    sets their background color to the foreground color
*/
.boundary .block[data-reveal="false"],
.boundary .block[data-reveal="false"] *:not(.target) {
    background-color: currentColor;
}

/* 
    paragraph reveal
    -------------------------
    what happens when the reveal class is injected
*/
.boundary .block[data-reveal="true"],
.boundary .block[data-reveal="true"] *:not(.target) {
    background-color: initial;
}

/*
    paragraph reveal trigger
    -------------------------
    an inserted zone for triggering the reveal of a paragraph
*/
.boundary .block {
    position: relative;
}

.boundary .target {
    --width: 20px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(-10px - var(--width));
    width: var(--width);
    background-color: green;
}